<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Network from "./_ex_1_network.svelte";

  let data = null;
  onMount(async () => {
    data = await json("/data/starwars.json");
  });
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Network {data} />
{/if}
