<script>
  const baseurl = "https://www.youtube.com/watch?v=";
  const videos = [
    { id: "S4bn6gg-BmE", name: "Messi" },
    { id: "MD6WXsjdcsY", name: "Ronaldo" },
    { id: "yTGr45ZQRdA", name: "Neymar" }
  ];
</script>

<style>
  a:link, a:visited{
    color: grey;
    background-color: transparent;
    text-decoration: underline;
  }
  </style>

<div>
  <h5>Famous soccer players:</h5>
  {#each videos as item}
    <ul>{item.name} (<a href={baseurl+item.id}>video</a>)</ul>
  {/each}
</div>
