<div>
  <h1 id = "Section 1">Section 1</h1>
  <h2 id = "Section 2">Section 2</h2>
  <h3 id = "Section 3">Section 3</h3>
  <h4 id = "Section 4">Section 4</h4>
  <h5 id = "Section 5">Section 5</h5>
  <h6 id = "Section 6">Section 6</h6>
</div>

