<script>
import { bubble } from "svelte/internal";


    const favorite_things = ['blue', 'garlic', 'reading'];
    const student = { name: 'Sara', fav_things: favorite_things};
</script>

<p>My name is {student.name} and these are some of my favourite things: {student.fav_things}.</p>