<script>
    let count = 0;

    function handleClick(){
        count += 1
    };

    function resetClick(){
        count = 0
    };
</script>

<button class="btn btn-primary" on:click={handleClick}>
    count: {count}
</button>

<input class="btn btn-danger" type="button" on:click={resetClick} value="Reset">
