<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  // import { get } from "svelte/store";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  $: present = [0, 'all'];
  $: year = present[0];
  $: continent = present[1];
  $: get_data = function(dataset){if(continent=='all'){return dataset[year]['countries']} else {dataset[year]['countries'].filter(d=>d.continent==continent)};}

</script>

<div class="col3wide">
{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<div class="col3">
    <Scatterplot data={get_data(data)} />
    <svelte:component this={Controls} bind:year={year} bind:continent={continent} bind:present={present}/>
  </div>
{/if}
</div>
